/ .modal.fade#modal-associate tabIndex="-1" role="dialog"
/   .modal-dialog role="document"
/     = form_for(TransactionAssociateRuleEvent.new, url: api_v1_events_path, remote: true) do |f|
/       = hidden_field_tag(:event_type, 'transaction_associate_rule')
/       .modal-content
/         .modal-header
/           button.close type="button" data-dismiss="modal"= fa_icon('close')
/           h4.modal-title= t('.labels.modal_add')
/         .modal-body
/           .form-group
/             = f.label(:rule_public_id, t('.labels.select_rule'))
/             = f.select(:rule_public_id, [], {}, { class: 'form-control', 'data-bind' => 'foreach: rules' })
/               option data-bind="value: $data.id, text: $data.reference"
/             = f.label(:transformation_public_id, t('.labels.select_transformation'))
/             = f.select(:transformation_public_id, [], {}, { class: 'form-control', 'data-bind' => 'foreach: transformations' })
/               option data-bind="value: $data.id, text: $data.name"
/           = f.hidden_field(:transaction_public_id, 'data-bind' => 'value: transaction_id')
/         .modal-footer
/           button.btn.btn-default type="button" data-dismiss="modal"
/             = fa_icon('close')
/             span= t('labels.close', scope: 'shared')
/           button.btn.btn-primary type="submit"
/             = fa_icon('check')
/             span= t('labels.add', scope: 'shared')
